<div id="follow-res" class="block-container">
  <div class="nav" style="display: none; padding-left: 10px;">
    [<a href="https://ram.komica2.net/00/pixmicat.php?res=<%= resNo %>" target="_blank">開啟本串</a>]
    [<a v-on:click="sound = !sound" href="javascript:void(0)">
      <i v-if="sound" class="fa fa-volume-up"></i>
      <i v-else class="fa fa-volume-off"></i>
    </a>]
  </div>
  <div id="follow-head" is="block" v-if="head" :block="head"></div>
  <div v-else style="text-align: center;">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div id="follow-body" is="block" v-for="block in bodies" :block="block"></div>
</div>

<script>
  window.followResNo = <%= resNo %>
  window.token = '<%= token %>'
</script>

<%= erb :'component/block' %>
<%= js_tag 'follow.js' %>
