<!DOCTYPE html>
<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103022327-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-103022327-4');
    </script>
    <title>綜合-即時訊息(仮) - HomuAPI - Komica</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="綜合-即時訊息(仮) - HomuAPI - Komica">
    <meta name="author" content="Komica20160704">
    <meta name="contact" content="bluecrazybear@gmail.com">
    <meta name="github:account" content="Komica20160704">
    <meta name="github:repository" content="homu-api">
    <meta name="google-site-verification" content="B2ixkTFtkydWvAZkkr16TocxnQHN20hn4Ns0tu0sa8k">
    <%= js_tag 'jquery-2.2.3.min.js' %>
    <%= js_tag 'underscore-min.js' %>
    <%= js_tag vue_js_url %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/zh-tw.js" integrity="sha256-go7Ghdg6dyr6iLFnj4zB0pRvjmKbqZBwEJolBVMkgMI=" crossorigin="anonymous"></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <% js_list.each do |js| %>
    <%= js_tag js %>
    <% end %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <% css_list.each do |css| %>
    <%= css_tag css %>
    <% end %>
  </head>
  <body class="theme" style='background-image: url("<%= bg %>");'>
    <div class="head_bar">
      <div class="banners">
        <div id="new_host" class="banner">
          本站新網址
          <a href="https://www.homu-api.com/">https://www.homu-api.com/</a>
          <i class="fa fa-times" style="cursor: pointer;"></i>
          <script>
            if (location.host != 'www.homu-api.com')
              $('#new_host').show()
            else
              $('#new_host').remove()
            $('#new_host .fa.fa-times').click(function() { $('#new_host').remove() })
          </script>
        </div>
        <div id="support_hatobatsugu" class="banner">
          <i class="fa fa-star"></i>
          <a target="_blank" href="https://camp-fire.jp/projects/view/89857?utm_source=https%3A%2F%2Fwww.homu-api.com%2Fhatobatsugu%3Fforce%3Dtrue&utm_medium=banner&utm_campaign=support_hatobatsugu">
            鳩羽つぐ 夏休み (30分映像)
          </a>
          <i class="fa fa-times" style="cursor: pointer;"></i>
          <script>
            $('#support_hatobatsugu').show()
            $('#support_hatobatsugu a').click(function() {
              gtag('event', 'support_hatobatsugu', {
                event_category: 'support',
                value: 'hatobatsugu',
              })
            })
            $('#support_hatobatsugu .fa.fa-times').click(function() { $('#new_host').remove() })
          </script>
        </div>
      </div>
      <div class="head_btn">
        <span>[<a href="https://gaia.komica.org/00/index.htm" target="_top">回綜合</a>]</span>
        <span>[<a href="<%= homu_api_url %>" target="_top" id="homu-api-link">HomuAPI</a>]</span>
        <span>[<a href="/report" target="_top">留言</a>]</span>
        <span>[<a href="/search" target="_top">搜尋</a>]</span>
        <span>[<a href="https://github.com/Komica20160704/homu-api" target="_blank"><i class="fa fa-github" style="color:<% if cookies[:dark] %>white<% else %>black<% end %>;" aria-hidden="true"></i></a>]</span>
        <span>[<a href="https://japariman.homu-api.com/" target="_blank"><img src="/japariman<%= '-white' if cookies[:dark] %>.svg" class="japariman"></a>]</span>
        <span>[<a href="https://test-0722.herokuapp.com/just-do-it.html" target="_blank"><i class="fa fa-diamond" style="color:#D54F5D;" aria-hidden="true"></i></a>]</span>
        <span>[<a href="/hatobatsugu">鳩</a>]</span>
        <span>[<a href="/dark"><i class="fa fa-lightbulb-o" style="<% if cookies[:dark] %>color: gold;<% end %>" aria-hidden="true"></i></a>]</span>
        <!-- <span>[<%= ws_client_count %>]</span> -->
      </div>
      <h1 class="title">
        <a href="/">
          綜合-即時訊息(仮)
        </a>
      </h1>
      <hr width="90%" size="1">
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <%= erb 'partials/television'.to_sym %>
  </body>
</html>
