<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103022327-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-103022327-4');
    </script>

    <title>綜合-即時訊息(仮) - HomuAPI - Komica</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="綜合-即時訊息(仮) - HomuAPI - Komica">
    <meta name="author" content="Komica20160704">
    <meta name="github:account" content="Komica20160704">
    <meta name="github:repository" content="homu-api">
    <meta name="google-site-verification" content="B2ixkTFtkydWvAZkkr16TocxnQHN20hn4Ns0tu0sa8k" />
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <% js_list.each do |e| %>
    <%= "<script src='/js/#{e}?#{Time.now.to_i}'></script>" %>
    <% end %>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css?<%= Time.now.to_i %>">
    <% css_list.each do |e| %>
    <%= "<link rel='stylesheet' type='text/css' data-title='#{e.split('.').first}' href='/css/#{e}?#{Time.now.to_i}'>" %>
    <% end %>
  </head>
  <body style='background-image: url("<%= bg %>");'>
    <div id="new_host" style="z-index: 100; padding: 5px; background: #f0e0d6; position: fixed; left: 20px; top: 20px;">
      本站新網址
      <a href="http://www.homu-api.com/">http://www.homu-api.com/</a>
      <i class="fa fa-times" style="cursor: pointer;"></i>
      <script>
        if (location.host == 'www.homu-api.com') {  $('#new_host').hide() }
        $('#new_host .fa.fa-times').click(function() { $('#new_host').hide() })
      </script>
    </div>
    <div class='head_bar'>
      <div class="head_btn" style="position:fixed;right:0px;">
        [<a href="http://rem.komica2.net/00/index.htm" target="_top">回綜合</a>]
        [<a href="http://homu.homu-api.com/" target="_top">HomuAPI</a>]
        [<a href="/report" target="_top">留言</a>]
        [<a href="https://github.com/Komica20160704/homu-api" target="_blank">GitHub</a>]
        [<a href="https://japariman.herokuapp.com/" target="_blank">Japariman<img src="/japariman.svg" class="japariman"></a>]
        [<a href="https://test-0722.herokuapp.com/just-do-it.html" target="_blank"><i class="fa fa-diamond" style="color:#D54F5D;" aria-hidden="true"></i></a>]
        [<%= ws_client_count %>]
      </div>
      <p align="center" class="title">
        <font size="5">
          <b>
            <span>綜合-即時訊息(仮)</span>
          </b>
        </font>
      </p>
      <hr width="90%" size="1">
    </div>
    <div style='margin-top:85px;position:relative;'>
      <%= yield %>
    </div>
  </body>
</html>
